@import "tailwindcss";

html, body {
  margin: 0;
  overflow-y: scroll;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}


html {
  scrollbar-width: none;
}


body {
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}